.container-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #3c2b21;
  color: #fff;
  border-radius: 8px;
}

.character-stats {
  margin: 0.7rem 0;
}

.xp-bar {
  width: 100%;
  height: 20px;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
}

.xp-fill {
  height: 100%;
  background-color: gold;
  transition: width 0.4s ease-in-out;
}

.hp-bar{
  width: 100%;
  height: 20px;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
}

.hp-fill {
  height: 100%;
  background-color: crimson;
  transition: width 0.4s ease-in-out;
}

.player-img {
  width: 300px;
  height: 300px;
}


.button-teste {
  padding: 2rem;
  text-align: center;
}


/* @keyframes ( flutuar levemente, pulsar, tremer)*/