.character-container {
  background-color: #3c2b21;
  color: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.character-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.character-stats {
  flex: 1;
  min-width: 200px;
}

.character-visual {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.character-actions {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px; /* Espaço para o rodapé */
}

.action-button {
  padding: 10px 20px;
  background-color: #5a3b2b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.action-button:hover {
  background-color: #7d5135;
}

