@font-face {
  font-family: 'Medieval';
  src: url('/assets/MedievalSharp-Regular.ttf') format('truetype');
}

body {
  background-color: #33261dff;
  font-family: 'Medieval', serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  font-family: Georgia, serif;
}

li {
  list-style: none;
}

* {
  font-family:'Medieval';
}