@font-face {
  font-family: 'Medieval';
  src: url('./assets/MedievalSharp-Regular.ttf');
}

body {
  margin: 0;
  background-color: #2e1e13;
  font-family: Georgia, serif;
}

* {
  box-sizing: border-box;
}

button {
  font-family: Georgia, serif;
}

li {
  list-style: none;
}

* {
  font-family:'Medieval';
}